[2016-08-22 21:29] alelopez07 opened #1 "¿Webpack?"
Últimamente he visto un poco sobre Webpack module bundler de hecho, observé que instagram lo utiliza en su interfaz web, se me haría un poco interesante encontrar a alguien que ya se haya introducido en esto para saber mejor sobre su funcionamiento y hacia donde le apunta.

[2016-08-27 18:30] ricardoerl opened #2 "Service Workers"
**¿Qué pasa con mi sitio cuando no hay conexión?**
Quiero compartir un demo interesante de cómo implementar un Service Worker en un sitio web simple para controlar el funcionamiento cuando no exista conexión a Internet. La idea es conocer el concepto y sus diferentes usos en aplicaciones web.

[2016-08-27 20:07] wilfredonoyola opened #3 "Frontend , El arte del desarrollo de Interfaces"
El uso de frameworks como Arquitectura en la vista de los pequeños o grandes proyectos cada día aumenta, conoceremos tendencias del uso de Angular y React (Incluye algunos ejemplos).

[2016-08-31 16:44] hugogilmar opened #4 "Electron y Photon"
Construcción de aplicaciones para múltiples plataformas de escritorio con Node.js y Electron. Utilizando el UI Kit de Photon. Una introducción.

http://electron.atom.io/
http://photonkit.com/

[2016-11-08 20:08] leosuncin commented on #1
Si aún tienen curiosidad sobre Webpack yo puedo dar una charla, no soy un experto pero lo se usar sin morir en el intento

[2016-11-08 20:21] ricardoerl commented on #1
@leosuncin ¡Chivo! te anoto entonces.

[2016-11-08 20:25] leosuncin commented on #1
Si puedo dar la charla

[2017-05-29 20:46] adielhercules opened #5 "Desarrollo Basado en Componentes con React.js"
Una introduction al desarrollo basado en componentes con React.js

[2017-08-17 21:42] DanteAlfaro opened #6 "Introducción a Vue Js 2.0"
Una pequeña introducción en Vue js conceptos básicos tales como : los Metodos , propiedades computadas y observadores

[2017-08-17 23:57] barbunzel commented on #6
Si necesitan a alguien que de la charla de Vue, yo puedo un poco; lo ocupo en el trabajo actualmente. Con gusto podría preparar algo. :)

[2017-08-18 20:07] denisonerom opened #7 "Plugin jQuery + Angularjs"
Combinación de desarrollo tipo plugin (jQuery) + AngularJS para reutilización scopes y directivas.

[2017-08-18 20:17] ricardoerl commented on #6
@DanteAlfaro la introducción a vue fue una de las pláticas de un evento pasado, pero creo que es buen momento para retomar el tema. Yo propongo que ahora el tema vaya mas orientado a alguna aplicación real usando la librería (siempre tocando conceptos básicos).

¿Que les parece? @dieguito151

[2017-08-18 21:09] barbunzel commented on #6
@ricardoerl ¿Como un POC y no tan "académico"? Me parece aún mejor.

[2017-08-18 21:10] DanteAlfaro commented on #6
Me parece bien yo igual manejo bastante bien vue js 2.0 , y vue cli. podríamos hacerlo con:
-  vuefy y webpack y llamadas post con axios para que se vea mas real la demo
- Podríamos usar  la parte de framework 7 con vue y demostrar como trabajar un app WebView para android

[2017-08-30 22:23] eduarmreyes opened #8 "Introducción a WebRTC"
**¿Qué es WebRTC?**
WebRTC es un proyecto gratuito y abierto que permite a los navegadores y aplicaciones móviles tener Comunicación en Tiempo Real (RTC, por sus siglas en inglés), esto a través de APIs simples.

[2017-08-31 04:08] ricardoerl commented on #8
Buen tema, @eduarmreyes. ¿Te animas a preparar una plática o solo es una propuesta?

[2017-08-31 04:10] eduarmreyes commented on #8
Me animo a preparar una plática, pero con tiempo joven :-) Porque ya se
viene unas charlas pero me gustaría para la siguiente de esa, ¿qué dicen?

On Wed, Aug 30, 2017 at 10:08 PM, Ricardo Ramírez <notifications@github.com>
wrote:

--
Eduardo Mejía
Twitter: eduarmreyes <https://twitter.com/eduarmreyes> | Fb: eduarmreyes
<https://www.facebook.com/eduar.mreyes> | Soundcloud: eduarmreyes
<https://sou

[2017-08-31 04:24] ricardoerl commented on #6
@DanteAlfaro @dieguito151 me parece la idea de presentar un caso de uso real con Vue. Propongo que aterricemos el tema (tomando en cuenta que una plátiica es de max. 25 min), por ejemplo:

* Mi primera app con Vue.js y Vuefy

¿Que les parece?

[2017-08-31 04:27] ricardoerl commented on #8
@eduarmreyes el próximo evento es a mediados de octubre, así que hace falta un poco. Avísame si te animas o cabal lo dejamos para el siguiente (en diciembre probablemente).

[2017-08-31 05:40] eduarmreyes commented on #8
Aja, por eso te digo @ricardoerl, mejor para después de Octubre. Así lo preparo con calma y me van diciendo más o menos de cuánto tiempo, si tienen algún template para la presentación y así.

[2017-10-13 06:13] jcesar020 opened #9 "Introduccion a GraphQl"
GraphQL ha sido creado por Facebook como una alternativa clara a las REST APIS’s.. GraphQL ha aparecido con mucha fuerza dentro del panorama tecnológico y por eso debemos prestar gran atención al enfoque que promulga.

[2017-10-13 06:19] ricardoerl commented on #9
@jcesar020 GraphQL me parece un excelente tema para compartir, creo que un buen comienzo seria discutir las ventajas (y desventajas) que ofrece sobre REST.

[2017-10-13 06:22] jcesar020 commented on #9
Si es un tema que no hay mucha documentacion aun, sobre todo en español, pero lo importante seria conocer experiencias o recomendaciones para implementarlos en nuestros proyectos, tanto para el backend como el frontend

[2018-01-24 04:41] Jalx commented on #6
Esta es una pláctica a impartir verdad? Me parece genial. Uso vuejs a diario también y me encanta.

Ya hubo una plática de de webpack; pienso la exposición debería centrarse talvez en el ecosistema de Vue y sus características como las mencionadas en el OP. Watchers y reactivity son cosas que pueden interesar.

Talvez algunos puntos de discusión:

- Devtools
- Animaciones
- CLI
- Vuex
- Vue-Loader

[2018-01-24 18:11] GaryTowers opened #10 "Redis en produccion"
Casos de uso.
Lecciones aprendidas al correr en producción y cosas interesantes.

[2018-01-24 18:20] cesaramirez commented on #6
Hola @Jalx la charla de Introducción a Vue.js se dio en un charla pasada, pero seria bueno dar una retroalimentación con una aplicación de la vida real con alguno de los puntos que mencionas.

Si te animas como ponente o conoces a alguien que se anime estamos abiertos a propuestas.

[2018-01-24 18:23] masmerino13 opened #11 "Introducción a Redis"
En la actualidad Redis es (según Amazon) el almacén de valores de clave más popular en la actualidad.

Gracias a su velocidad y facilidad de uso, Redis es una opción popular para aplicaciones web, móviles, de juegos, de tecnología publicitaria y de IoT que requieren el mejor desempeño de su clase.

Seria genial una introducción de casos de uso y experiencias.

[2018-01-25 00:58] davmrv opened #12 "Node on Sails: Una Introducción a SailsJS"
# Node on Sails: Una Introducción a SailsJS

Una pequeña charla de cómo comenzar a desarrollar utilizando el popular framework **SailsJS**.

SailsJS es un **framework** que está ganando potencia en la comunidad
de desarrolladores que utilizan **NodeJS**, así que es de bastante utilidad
conocer sus ventajas como también sus desventajas, saber cuando es útil
y cuando puede estar de más para tu proye

[2018-01-25 15:46] ricardoerl commented on #12
Me parece bien @Bl4ckf4ll, el tema de buenas prácticas en general merece un evento por si solo, pero para este tema me gusta la idea que compartas tu experiencia y consejos usando SailsJS.

[2018-01-30 13:34] jaime-franco opened #13 "Introducción a Loopback 3 (Node JS)"
Charla enfocada en proporcionar una introducción a Loopback 3.

[Loopback](https://loopback.io) es un framework open source diseñado para facilitar la creacion Rest API utilizando NodeJS, construido sobre express. Nace en 2013 creado por la empresa [StrongLoop](https://strongloop.com/) que en 2015 fue adquirida por IBM y que actualemente esta involucrada en el desarrollo y soporte de este framewor

[2018-01-30 19:14] Ciensprog opened #14 "Introducción a las diferentes web APIs"
Hay muchas APIs disponibles para utilizar en los diferentes proyectos web, entre ellas se encuentran Offline, Vibration, PageVisibility, etc... Los puntos a tomar en cuenta son:

- Los usos en los proyectos donde se requiera implementar.
- Librerías para mejor compatibilidad.

Pueden ser de mucha utilidad para nuestras apps, ya que nos permitirían tener una mejor experiencia de usuario (UX) dando

[2018-02-08 20:25] Alexander-Escobar opened #15 ""Resolución Club", La mejor Forma de Aprender es Haciendo"
![name512x512-iloveimg-cropped](https://user-images.githubusercontent.com/36279283/36242903-26df6fbe-11e4-11e8-9381-a41b3f730799.png)

### Tema: La mejor Forma de Aprender es Haciendo.
**Sub-Titulo: "Resolucion.Club" Un proyecto desarrollado en Node.js**

 CEO de "A&C Consultoría Informática", con mas de 20 años de experiencia en la industria del desarrollo de software

Node.js® es un entorno de e

[2018-03-02 17:31] alepaz commented on #9
Hola! He estado llevando un curso acerca de GraphQL y me gustaría apoyar con una charla sobre este, explicar la problemática que intenta solventar a las limitaciones de REST y presentar un ejemplo practico.

[2018-03-02 17:55] jcesar020 commented on #9
Excelente amigo, seria un buen aporte para la comunidad.

[2018-03-02 22:51] cesaramirez commented on #9
Que bien @alepaz, te interesaría impartirla en el evento de abril?

[2018-03-03 03:34] alepaz commented on #9
@cesaramirez claro! sería un gusto participar de la actividad del 28 de abril del otro lado del salón!

[2018-03-05 17:25] jrab66 opened #16 "Dockerizando una Aplicación de Node.js"
Charla enfocada a empezar al desarrollo de aplicaciones aprovechando el recurso de **Docker**.

Se abordara una intro básica a **docker** y como este puede presentar una gran herramienta a la hora de hacer desarrollo tanto local como en equipos, para luego mostrar como empaquetar una aplicación **nodejs** en el.

El objetivo de la charla es:

- Fomentar la adopción y  uso de docker
- Descripción d

[2018-03-07 16:01] cesaramirez commented on #16
Muchas gracias @jrab66 por la propuesta, ¿estarías disponible para dar le charla en el evento de Abril?

[2018-03-07 16:08] barbunzel opened #17 "Testing con JavaScript"
Propongo la siguiente charla y también me propongo como ponente:

Una charla enfocada a las prácticas de testing, test-driven development, unit testing y e2e; un poco de las frameworks que existen para cada cosa, charlar un poco de todo esto, mi experiencia (y la de algunas personas que conozco) y lo más importante, un demo de unit testing y de e2e (por el momento lo he pensado con mocha o jest pa

[2018-03-07 16:12] cesaramirez commented on #17
Muchas gracias por la propuesta @dieguito151, ¿Estarías en la disponibilidad de de dar la charla para el evento de Abril?

[2018-03-07 16:14] barbunzel commented on #17
Sí, ¡claro!

[2018-03-07 16:56] cesaramirez commented on #14
Gracias por la propuesta @Ciensprog, ¿Estarías con disponibilidad para dar la charla en el evento de Abril?

[2018-03-07 17:41] Ciensprog commented on #14
Por supuesto @cesaramirez con mucho gusto.

[2018-03-07 18:00] jrab66 commented on #16
Si, tengo disponibilidad de tiempo @cesaramirez

[2018-03-10 02:14] ernestoe opened #18 "Neo4j, Graph Database"
# **[Neo4j](https://neo4j.com/), una base de datos de GRAFOS.**

Introducción a las características de una base de datos NoSQL muy particular: es de grafos, lo cual la convierte en un excelente híbrido entre las bases de datos relacionales y bases de datos documentales.

## Ponente: [José Ernesto Echeverría](https://github.com/ernestoe)

**Tipo:** lightning talk (15 minutos) | corta duración (25 m

[2018-03-15 16:57] LuisMejiaF commented on #11
Hola colegas. Me gustaría proponerme como ponente para esta charla. Ya he trabajado en un par de proyectos sencillos con REDIS, y creo que puedo dar una introducción a este key-value storage.

[2018-03-21 20:09] alepaz commented on #9
<h2>GraphQL vs REST</h2>

[GraphQL](https://github.com/graphql) se presenta como una alternativa para el desarrollo de APIs, buscando solucionar algunas de las limitaciones presentes en REST. Su principal idea es que puedas definir los esquemas de la información que deseas recibir de parte del endpoint, lo que permite descartar información innecesaria o sobrecargar de parametros el endpoint en el

[2018-04-17 14:57] sergioadonis opened #19 "AWS y serverless"
**Título:**
Amazon Web Services

**Descripción:**
Servicios que ofrece Amazon Web Services (AWS), como aprovecharlos, y como simplificar las operaciones con el enfoque de serverless.

**Ponente:**

**Email (si no está en el perfil de github):**

**Tipo:** lightning talk (15 minutos) | corta duración (25 minutos) | larga duración (40 minutos)

[2018-04-17 17:57] cesaramirez commented on #19
Gracias por la propuesta @sergioadonis, seria interesante ver una charla orientada a hacer serveless con una aplicación de React, Vue ó Node.

[2018-04-17 18:21] sergioadonis commented on #19
Sí, sería muy interesante una demo con funciones lambda con nodejs y una app react que complemente... Quizás no alcancen 40 minutos jaja

[2018-04-18 17:20] leosuncin opened #20 "Deploy de una aplicación Node.js en producción"
**Título:** Deploy de una aplicación Node.js en DigitalOcean

**Descripción:** El proceso de cómo crear un VPS en DigitalOcean y prepararlo para ejecutar una aplicación Node.js utilizando Docker, siguiendo buenas prácticas de CI/CD

**Ponente:** Jaime Leonardo Suncin Cruz

**Tipo:** larga duración (30 minutos)

[2018-04-18 17:25] cesaramirez commented on #20
Muy interesante propuesta @leosuncin, ¿estarías disponible dar la charla para el evento de Junio?

[2018-04-18 17:28] leosuncin commented on #20
Si ya no me alcanzo a colar en la de Abril, puedo hacerlo en Junio

[2018-04-18 17:30] cesaramirez commented on #20
Entonces quedamos para Junio, para el evento de Abril ya definimos las charlas a impartir.

[2018-04-18 20:33] sergioadonis opened #21 "Strapi"
**Título:**
Strapi - Node.js REST API Framework with extensible Admin Panel.
[Strapi.io](https://strapi.io/)

**Descripción:**
Strapi es un framework de nodejs basado en Koa, que a su vez está basado en Express, además es bastante similar a Sails.

Lo peculiar de Strapi es que tiene un panel de administrador, similar al de Django, o de Laravel-Voyager, donde se puede hacer en mantenimiento de las

[2018-04-18 21:26] cesaramirez commented on #21
Gracias por la propuesta @sergioadonis he leído sobre este framework, se leen cosas interesantes, ojalá alguien se anime a hablar un poco de él.

[2018-05-01 16:42] ragar90 opened #22 "Estructuras de datos y algoritmos con JS"
**Título:** Estructuras de datos y algoritmos con JS

**Descripción:** Fundamentos de algoritmos computacionales y aplicaciones

**Ponente:** Rene Garcia @ragar90

**Email:** rene.garciah90@gmail.com

**Tipo:** larga duración (40 minutos)

[2018-05-01 16:46] ragar90 commented on #17
Ya se dio esta charla?

[2018-05-02 17:04] alepaz opened #23 "Husky a guide dog for Git Hooks"
**Husky a guide dog for Git Hooks:**

**[Git Hooks](https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks):** Git has a way to trigger custom scripts when certain important actions occur, although client-side hooks are not copied when you clone a repository; but there is a way to take advantage of this feature.

-What is a Git Hook
-Client-Side Hooks
-Server-Side Hooks
-what is Husky?
-what is

[2018-05-02 17:17] barbunzel commented on #17
Todavía no.

[2018-05-02 17:19] cesaramirez commented on #17
Creo que lo que pregunta @ragar90 es con relación a que en marzo se dio una charla en la Don Bosco con respecto a este tema.

[2018-05-10 17:10] ricardoorellana opened #24 "Introducción a ML en Javascript con TensorFlow.js"
**Título:** Introducción a ML en Javascript con TensorFlow.js

**Descripción:** TensorFlow.js es una librería Open Source para entrenamiento y implementación de modelos de Machine Learning en el navegador usando Javascript.
La introducción podría incluir y no limitarse a:

* Fundamentos escenciales de ML
* Conceptos de TensorFlow.js.
* Instalación de TensorFlow.js.
* Casos de uso y un demo.
* Cual

[2018-05-12 17:45] aledevme opened #25 "MongoDB"
**Título:**
Manejo Basico de MongoDb
**Descripción:**
Consultas
**Ponente: **
Alejandro Gonzalez
**Email (si no está en el perfil de github):**

**Tipo:** corta duración (25 minutos)

[2018-05-12 18:53] cesaramirez commented on #25
Hola @DevAlex7 la charla de mongoDB básico ya se dio en un charla pasada, seria ideal en este caso hablar de temas mas avanzados.

[2018-05-21 23:19] cesaramirez commented on #11
Que tal @LuisMejiaF tienes disponibilidad para el evento de Junio para impartir la charla?

[2018-05-21 23:22] cesaramirez commented on #17
Hola @dieguito151 en los eventos pasados se ha dado charla de testing sobre todo enfocado en unit testing, seria interesante enfocar esta con el tema de e2e no se que te parece, estas disponible para el evento de junio?

[2018-05-21 23:22] cesaramirez commented on #20
Hola @leosuncin aun estas disponible para el evento de Junio para dar la charla?

[2018-05-22 03:07] leosuncin commented on #20
Si, ¿cuando sera el próximo HorchataJS?

[2018-05-22 03:40] cesaramirez commented on #20
El Sabado 30 de Junio.

[2018-05-23 14:14] LuisMejiaF commented on #11
Claro. Sólo háganme saber la fecha y yo hago espacio para ése día.

[2018-05-23 15:18] barbunzel commented on #17
Perdón por contestar tarde. Ando de viaje y no estaré en El Salvador por un tiempo. Con gusto puede ser de e2e nada más, pero tendría que ser en el de agosto, a menos que alguien más se anime a dar una charla de esto. 😁

[2018-05-23 15:20] cesaramirez commented on #11
El evento sera el sábado 30 de Junio, si te animas te pediría el favor de crear un nuevo issue detallando el tema y descripción de la charla

[2018-05-23 15:21] cesaramirez commented on #18
Hola estas disponible para el evento de Junio?

[2018-05-25 17:36] masmerino13 opened #26 "Programación reactiva con RxJS"
**Título:**
Programación reactiva con RxJS

**Descripción:**
Introducción a la programación reactiva y uso básico de RxJS

**Ponente:**

**Email (si no está en el perfil de github):**

**Tipo:** lightning talk (15 minutos) | corta duración (25 minutos) | larga duración (40 minutos)

[2018-05-25 18:24] ernestoe commented on #18
Hola, sí, entiendo es el 30. Dime cuánto tiempo debo preparar, trataría de incorporarle temas de presentaciones previas (e.g. docker y react).

[2018-05-25 19:24] cesaramirez commented on #18
Correcto es el 30 de Junio, el tiempo tu lo decides entre 15, 25 ó 40 minutos.

[2018-05-25 23:41] ernestoe commented on #18
Pues si se puede que sean 40 mins, hay bastante que comentar.

On Fri, May 25, 2018 at 1:24 PM, César A. Ramírez <notifications@github.com>
wrote:

--
José Ernesto Echeverría
+503 7607 5169

[2018-05-26 01:48] cesaramirez commented on #18
Perfecto, queda charla confirmada para el evento de Junio, por favor si no estas en slack Unete para comunicarnos por ahi. http://slack.horchatajs.com/

Saludos.

[2018-05-27 17:20] davmrv commented on #21
Yo estoy usando **strapi** en unos proyectos que tengo ahorita, así que estoy viendo un puño de ondas super geniales, así que si no se encuentra a alguien más que hable de esto pues me gustaría ver si puedo dar una plática sobre esto en alguna horchataJS próxima :smile:

[2018-05-28 17:43] cesaramirez commented on #21
Pues si te animas te dejamos programado para el evento de agosto

[2018-05-28 17:47] cesaramirez commented on #11
Me confirmas @LuisMejiaF si estas disponible y dejamos la charla confirmada para el evento de Junio, por favor si no estas en slack Unete para comunicarnos por ahi. http://slack.horchatajs.com

[2018-05-29 19:53] LuisMejiaF commented on #11
Confirmado. Voy a crear el otro issue entonces.

[2018-05-29 20:00] cesaramirez commented on #11
Perfecto y gracias 👍

[2018-05-29 20:03] LuisMejiaF opened #27 "Introducción a Redis"
**Título:** Introducción a REDIS

**Descripción:** [Redis](https://redis.io/) es un open source (licencia BSD), en memoria storage. Es usado como base de datos, caché y procesador de mensajes. Soporta estructuras de datos como strings, hashes, lists, sets, sets ordenados con rangos de consultas, bitmaps, hyperlogs e índices geo-espaciales.

**Ponente:** Luis Mejía

**Email:** hola@luismejiaf.com

[2018-06-06 19:51] davmrv commented on #21
Demole entonces @cesaramirez

[2018-08-03 16:36] rauler7 opened #28 "Introducción a TypeScript"
**Título:**
Introducción a TypeScript

**Descripción:**
JavaScript ha expandido su dominio de uso mucho más allá del navegador. Ahora se usa para alimentar backends, crear aplicaciones móviles híbridas, diseñar soluciones en la nube, diseñar redes neuronales e incluso controlar robots. La versatilidad de JavaScript combinada con su alta tasa de adopción ha creado una creciente demanda de aplicacio

[2018-08-06 02:17] cesaramirez commented on #11
Asociado a issue #27

[2018-08-06 02:17] #11 closed, assigned to nobody

[2018-08-07 19:09] cesaramirez commented on #21
@Bl4ckf4ll Siempre contamos con tu charla para el evento de agosto?

[2018-08-07 19:11] cesaramirez commented on #22
¿Que tal @ragar90 estas disponible para dar la charla en el evento de agosto?

[2018-08-07 19:20] cesaramirez commented on #19
@glopez97 sera el ponente de esta charla para nuestro evento de agosto.

[2018-08-08 19:44] ragar90 commented on #22
si puedo darla, cuando es el evento?

[2018-08-08 19:53] cesaramirez commented on #22
El evento es el 25 de agosto.

[2018-08-08 20:12] ragar90 commented on #22
chivisimo puedo preparala para esa fecha

[2018-08-08 20:17] cesaramirez commented on #22
Perfecto entonces ya estas confirmado y nos estamos comunicando por Slack para futuros detalles.

[2018-08-08 22:47] ragar90 commented on #22
chivisimo reservo la fecha entonces

[2018-09-03 14:03] hugogilmar commented on #6
Esto sigue en pie? Podría preparar una aplicación sencilla consumiendo un API con Axios usando Vuex y Vue CLI.

[2018-09-03 14:21] hugogilmar opened #29 "Introducción a NativeScript"
Introducción a NativeScript

NativeScript es un framework para desarrollar aplicaciones en Apple iOS y Android. Las aplicaciones NativeScript se construyen utilizando Javascript o TypeScript. Tiene implementaciones para Angular y VueJS aunque también se puede trabajar con Vanilla JS.

[2018-09-03 16:14] cesaramirez commented on #6
Aun sigue en pie @hugogilmar, que tanto crees que hay posibilidad de agregar un poco de `vue-router`, o dime si no nos da el tiempo para tocar ese tema.

[2018-09-03 16:23] hugogilmar commented on #6
Da tiempo, puede ser un ejercicio de una lista y detalle. Dos componentes.

[2018-09-03 16:41] cesaramirez commented on #6
Perfecto, hay disponibilidad para el evento de octubre?

[2018-09-03 16:44] hugogilmar commented on #6
Si, démole.

[2018-09-03 16:58] cesaramirez commented on #6
Chivo, confirmado entonces como primera charla para el evento de Octubre 🎉

[2018-09-17 17:08] jrab66 opened #30 "Deploy en Kubernetes - GKE"
**Titulo:** Deploy en Kubernetes ( Contenedores para producción) GKE

**Sinopsis:**
Mostrar como funciona Kubernetes y mostrar las ventajas para usarlo en producción usando en este
caso la Google Kubernetes Engine(GKE).

Pasando desde los Source code, Contenedores Docker a finalmente contenedores Docker corriendo como una APP en el cluster.

**Ponente:** Jose Barahona

**Email:** jrab6692 at gmail

[2018-10-09 02:20] diedu89 opened #31 "Animaciones en React"
**Título:** Animaciones en React

**Descripción:** Como animar componentes en React usando [react-spring](https://github.com/drcmda/react-spring)

**Ponente:** Diego Melendez

**Email:** @diedu89

**Tipo:** 25 minutos

[2018-10-09 05:39] #22 closed, assigned to ragar90

[2018-10-09 05:39] #5 closed, assigned to nobody

[2018-10-09 05:39] #7 closed, assigned to nobody

[2018-10-09 05:39] #8 closed, assigned to nobody

[2018-10-09 05:39] #9 closed, assigned to nobody

[2018-10-09 05:39] #12 closed, assigned to davmrv

[2018-10-09 05:39] #13 closed, assigned to jaime-franco

[2018-10-09 05:39] #14 closed, assigned to Ciensprog

[2018-10-09 05:39] #15 closed, assigned to Alexander-Escobar

[2018-10-09 05:39] #16 closed, assigned to jrab66

[2018-10-09 05:39] #18 closed, assigned to ernestoe

[2018-10-09 05:39] #20 closed, assigned to leosuncin

[2018-10-09 05:39] #21 closed, assigned to nobody

[2018-10-09 05:40] #1 closed, assigned to nobody

[2018-10-09 05:40] #2 closed, assigned to nobody

[2018-10-09 05:40] #3 closed, assigned to nobody

[2018-10-09 05:40] #27 closed, assigned to LuisMejiaF

[2018-10-09 05:40] #4 closed, assigned to nobody

[2018-10-09 20:33] ragar90 commented on #26
Yo he usado Rx en java, los fundamentos son los mismos podria preparar algo para que la mayoria lo entienda

[2018-10-11 22:30] ragar90 commented on #30
Esto va para la proxima?

[2018-10-12 21:10] cesaramirez commented on #30
No @ragar90, posiblemente vaya para el evento de Diciembre.

[2018-10-16 23:28] khristop opened #32 "Syntactic Sugar JS"
**Título:** Syntactic Sugar JS

**Descripción:** Antes para escribir codigo js limpio era una tarea que muy pocos valientes se aventuraban a hacer por lo que era necesario usar librerias externas como JQuery, sin embargo, en la version de ES6 la sintaxis ha mejorado a tal punto que con Vanilla JS(JS puro) se puede crear codigo limpio y haciendo uso de "syntactic sugar"  podremos escribir codigo cl

[2018-10-18 02:32] cesaramirez commented on #26
@ragar90  Tienes disponibilidad para el evento de Diciembre?

[2018-10-18 19:10] ragar90 commented on #26
Si, puedo en diciembre

[2018-10-29 23:37] D3Portillo opened #33 "Introducción a P5.js"
**Título:** Introducción a P5.js

**Descripción:** Hablar un poco de dicha libreria, mostar ejemplos, jugar un poco con la libreria, hacer bugs

**Ponente:** Denny Portillo

**Email (si no está en el perfil de github):** @d3portillo

**Tipo:** corta duración (25 minutos)

[2018-10-30 15:28] eduarmreyes opened #34 "Trabajo remoto. Quiero uno, ¿cómo lo consigo y qué significa trabajar así?"
**Título:**
Trabajo remoto. Quiero uno, ¿cómo lo consigo y qué significa trabajar así?

**Descripción:**
La idea es demostrar lugares donde podemos encontrar trabajo remoto, también explicar qué significa tributariamente tener un trabajo así y no regarla a la hora de buscar préstamos, tener problemas de salud y eso.

También tips para no morir en el intento y no perder el tiempo, sino trabajar de

[2018-11-11 18:01] dobliu commented on #24
Puedo darla pero en Python.

[2018-11-12 05:08] leosuncin opened #35 "WebAssembly"
**Título:**
Introducción a WebAssembly

**Descripción:**
Una introducción a WebAssembly con ejemplos

**Ponente:**
¿Algún valiente? :eyes:

**Email (si no está en el perfil de github):**

**Tipo:**
larga duración (40 minutos)

**Recursos:**
https://webassembly.org/
[![Jay Phelps - WebAssembly Demystified](https://img.youtube.com/vi/cRwUD5SxF4o/0.jpg)](https://www.youtube.com/watch?v=cRwUD5SxF4o)
[

[2018-11-19 21:24] #28 closed, assigned to rauler7

[2018-11-30 05:07] diedu89 opened #36 "TDD en react"
**Título:** Test Driven Development en react

**Descripción:** Como desarrollar una aplicación con react/redux/react-router escribiendo tests antes del código de implementación usando [jest](https://jestjs.io/) y [react-testing-library](https://github.com/kentcdodds/react-testing-library)

**Ponente:** Diego Melendez

**Email (si no está en el perfil de github):** @diedu89

**Tipo:** larga duració

[2018-12-03 00:04] #19 closed, assigned to nobody

[2018-12-03 00:04] #6 closed, assigned to nobody

[2019-01-06 04:46] Anb98 commented on #29
Me propongo como ponente.

[2019-01-09 16:32] heberlopezz opened #37 "Web Kit Speech Recognition"
**Titulo** Web Kit Speech Recognition

**Descripción:** Como interactuar con el API para reconocimiento de voz que tiene el motor Chromiun y esta basado en [Web Speech API Specification](https://w3c.github.io/speech-api/speechapi.html)

**Ponente:**

**Email (si no está en el perfil de github):**

**Tipo:** corta duración (25 minutos)

[2019-01-31 20:33] ricardoerl opened #38 "PWA en la Google Play Store"
**Título:**
PWA en la Google Play Store

**Descripción:**
A partir de Chrome 72 para Android ya es posible integrar nuestra aplicacion web como una aplicacion Android en la Google Play Store. Esto significa un cambio grande y permitirá a usuarios poder encontrar la aplicación en la tienda nativa (como cualquier otra).

**Ponente:**
Ricardo Ramirez.

**Email (si no está en el perfil de github):**
r

[2019-02-03 02:59] cesaramirez commented on #26
Hola @ragar90 ¿Podemos retomar estar charla para el primer Horchata del año?

[2019-02-03 03:00] cesaramirez commented on #23
Hola @alepaz, ¿Estas disponible para poder dar esta charla en el primer evento del año?

[2019-02-03 03:01] cesaramirez commented on #17
Hola @dieguito151, ¿Podemos retomar estar charla siempre con e2e, para el primer evento de año?

[2019-02-03 03:02] cesaramirez commented on #34
Que ondas @eduarmreyes, ¿Te animas a dar esta charla en el primer evento del año?

[2019-02-03 03:03] eduarmreyes commented on #34
Me tri animo, te escribo en Slack para que lleguemos a algo.

On Sat, Feb 2, 2019, 10:02 PM César A. Ramírez <notifications@github.com
wrote:

[2019-02-03 03:06] cesaramirez commented on #34
Perfecto!

[2019-02-13 17:06] barbunzel commented on #17
¡Perdón! Acabo de ver esto. Hace un par de días vi el evento de Horchata, pero si todavía hay espacio, claro que sí. :)

[2019-02-16 00:26] cesaramirez commented on #17
Claro que hay espacio, hablemos por Slack para darte mas detalles.

[2019-02-16 09:46] barbunzel commented on #17
¡Claro que sí!

[2019-03-09 21:29] YECAPP opened #39 "Firebase Bases de Datos Nosql con javascript"
**Título:** Firebase Bases de Datos Nosql

**Descripción:** Propongo una charla sobre base de datos NoSQL. La temática a tratar serían  las siguientes:

1. Diferencias con respecto a Bases SQL
2. FireBase la base de datos NoSQL de Google
3. La metodología de trabajo ServerLess
4.Como crear una base de datos NoSql en FireBase
5.Autenticación con los servicios GoogleAuth y FireBase
6.Queries Sencill

[2019-03-10 15:39] #34 closed, assigned to eduarmreyes

[2019-03-10 16:28] #17 closed, assigned to nobody

[2019-03-10 17:49] eduarmreyes commented on #26
Necesito esta charla amigos. @cesaramirez @ragar90

[2019-03-10 20:39] xdiegom opened #40 "Are you Nuxt? - Introducción a NuxtJS"
**Título:** Are you Nuxt? - Introducción a NuxtJS

**Descripción:** Nuxt.js es un framework para crear aplicaciones con VueJS. Podés crear tres tipos de aplicaciones: Universal, Single Page Application o Página estática.

**Ponente:** Diego Melgar

**Email (si no está en el perfil de github):**

**Tipo:** larga duración (40 minutos)

[2019-03-11 22:00] jrab66 commented on #30
@cesaramirez para cuando :v

[2019-03-13 23:18] barbunzel opened #41 "Usando VSCode like a pro"
**Título:** Usando VSCode _like a pro_

**Descripción:** Una charla para aprender un poco de cómo trabajan en VSCode los power users.

**Ponente:** ¿Alguien?

**Email (si no está en el perfil de github):**

**Tipo:** lightning talk (15 minutos) | corta duración (25 minutos) | larga duración (40 minutos)

Quisiera que alguien compartiera su experiencia. Yo no soy tan power user en VSCode. Me sé alg

[2019-05-09 18:47] jonathanpalma opened #42 "Typescript para Asgardians"
**Título:**
Typescript para Asgardians

**Descripción:**
Look at the first comment... 😅

**Ponente:**
@charliesbox

**Email:**
<charliesbot@gmail.com>

**Tipo:**
corta duración (25 minutos)

[2019-05-24 16:15] samaellopez opened #43 "Angular universal"
**Título:**
Construyendo Aplicacion Backend con Angular universal
**Descripción:**
Tecnología que te permite ejecutar tu aplicación Angular desde el servidor
**Ponente:**

**Email (si no está en el perfil de github):**

**Tipo:** lightning talk (15 minutos) | corta duración (25 minutos) | larga duración (40 minutos)

[2019-05-29 21:50] Chiliseo opened #44 "React y Capacitor"
**Título:** Reactjs de Web a Mobile

**Descripción:** creando una web app en reacjs y luego compilarla en una aplicacion para IOS o ANDROID

**Ponente:** Adriano Chiliseo

**Email (si no está en el perfil de github):** adrianochiliseo@hotmail.com

**Tipo:** corta duracion 25 minutos

[2019-05-29 22:10] eduarmreyes opened #45 "Accesibilidad en la Web"
**Título:** Accesibilidad en la Web

**Descripción:** Explicar de qué trata accesibilidad en la web y porqué deberíamos estar haciendo sitios o aplicaciones web accesibles.

**Ponente:** Eduardo Mejía

**Email (si no está en el perfil de github):** eduar.mreyes@gmail.com

**Tipo:** Corta duración (25 minutos)

![image](https://user-images.githubusercontent.com/3196685/58594917-ffa28380-823c-11e9-8

[2019-05-30 17:14] #42 closed, assigned to nobody

[2019-05-30 21:59] jonathanpalma opened #46 "Get "hooked" on React (React Hooks)"
**Título:** Get "hooked" on React

**Descripción:**

**Ponente:** @jonathanpalma

**Email:** <tanpalma04@gmail.com>

**Tipo:** larga duración (40 minutos)

[2019-05-31 03:48] ricardoerl commented on #43
@samaellopez ¿No te animas a dar la charla?

[2019-05-31 03:52] ricardoerl commented on #41
Yo también estaría interesado en una charla de productividad con VSCode. 🙌

[2019-05-31 03:56] ricardoerl commented on #32
Que ondas @khristop, el tema es bien interesante pero bastante general, ¿tenes en mente que temas de ES6 te llegaría tocar?

[2019-06-13 13:57] eduarmreyes commented on #45
¿Tienen deadline para el lined up de esta charla? @cesaramirez

[2019-06-19 22:24] guillegr123 opened #47 "React + Electron (casi) desde cero"
**Título:** React + Electron (casi) desde cero

**Descripción:** Como me gusta reinventar la rueda, al final decidí seguir un par de artículos en Internet para armar el esqueleto de una aplicación de React y Electron, y salió bien. Así que esta charla sería para compartir cómo crear tu propio boilerplate para una aplicación de escritorio con Electron y React JS. Eventualmente pondré en un repo la

[2019-07-16 17:06] masmerino13 opened #48 "Introduccion a TailwindCSS"
**Título:**
Introduccion a Tailwind

**Descripción:**
Introduccion a Tailwind y su nuevo enfoque para el desarrollo front-end

**Ponente:**
Ricardo Merino @masmerino13

**Email (si no está en el perfil de github):**

**Tipo:** lightning talk (15 minutos) | corta duración (25 minutos) | larga duración (40 minutos)
15 minutos

[2019-07-16 17:24] cesaramirez commented on #48
@masmerino13 Tenes disponibilidad para el próximo evento, será el 27 de Julio

[2019-07-16 17:25] cesaramirez commented on #31
@diedu89 ¿Que tal Diego?, tienes disponibilidad para el próximo evento, será el 27 de Julio,

[2019-07-16 17:26] masmerino13 commented on #48
Si, suena bien @cesaramirez

[2019-07-16 17:31] cesaramirez commented on #48
Eres el primer pontente confirmado, gracias @masmerino13, nos vemos el 27

[2019-07-16 17:32] masmerino13 commented on #48
:open_mouth: cool, gracias por el chance @cesaramirez !

[2019-07-16 18:54] diedu89 commented on #31
@cesaramirez nop, déjame para la otra mejor, así armo algo decente porque han hecho bastantes cambios desde la ultima vez que use react-spring

[2019-07-16 20:56] leosuncin opened #49 "What's Next.js? SSR sin esfuerzo"
**Título:** What's Next.js? SSR sin esfuerzo

**Descripción:** Next.js es un framework para hacer Server Side Render con React sin esfuerzo, sin necesidad de configurar solo de instalar y usar. Su [última versión](https://nextjs.org/blog/next-9) permite crear APIs además de Web Apps, crear páginas estáticas y dinamicas de forma automática.

**Ponente:** Jaime Leonardo Suncin Cruz

**Email (si no e

[2019-07-16 20:57] cesaramirez commented on #36
@diedu89 de nuevo preguntandote si es posible dar esta charla para el evento de 27 de Julio.

[2019-07-17 13:36] cesaramirez commented on #31
Esta bien @diedu89, gracias, te contacto para el próximo evento.

[2019-07-17 14:33] diedu89 commented on #36
@cesaramirez Igual, para la próxima participo ya sea con esta o con la de animación, para poder preparar algo bueno

[2019-07-17 20:34] cesaramirez commented on #36
Esta bien @diedu89 quedamos al pendiente para el próximo evento.

[2019-07-17 20:34] cesaramirez commented on #49
@leosuncin que ondas, te animas dar la charla para el evento del 27 de Julio?

[2019-07-17 21:00] leosuncin commented on #49
Chivo

[2019-07-18 05:07] cesaramirez commented on #49
Demosle entonces @leosuncin, muchas gracias.

[2019-07-23 17:29] cmonterrosad opened #50 "ORM- Introduction a Sequilize"
**Título:** Introduction a Sequelize

**Descripción:** overview acerca de orm con enfasis en Sequelize

**Ponente:** Carlos Monterrosa

**Email (si no está en el perfil de github):**

**Tipo:** lightning talk (15 minutos) | corta duración (25 minutos) | larga duración (40 minutos)
lightning talk/corta duration

[2019-08-12 15:54] eduarmreyes commented on #45
@cesaramirez me gustaría preparar una charla de esto, ¿cómo lo ves? :thinking:

[2019-08-12 16:19] cesaramirez commented on #45
@eduarmreyes podriamos incluirlo para el evento de septiembre

[2019-08-12 17:03] eduarmreyes commented on #45
suena bien

On Mon, Aug 12, 2019 at 12:19 PM César A. Ramírez <notifications@github.com>
wrote:

--
Eduardo Mejía
GitHub: eduarmreyes <https://github.com/eduarmreyes> | Twitter: eduarmreyes
<https://twitter.com/eduarmreyes> | FB: eduarmreyes
<https://www.facebook.com/eduar.mreyes> | Skype: eduardomreyes

[2019-08-12 18:38] kmariv opened #51 "ORM - Introducción a Django Framework"
**Título:** "Django unchained" - Introducción al ORM Django

**Descripción:** Explicar desde la instalación, mapping de base de datos y finalizar con creación de querysets simples utilizando Django Framework junto con Python para el desarrollo Web (MVT - Model View Template)

**Ponente:** Kattya Martínez

**Email (si no está en el perfil de github):** aurosa.123@gmail.com

**Tipo:** larga duración

[2019-08-13 09:01] barbunzel commented on #41
Tres Doritos después... Tal vez puedo hablar un poco de esto en alguno de los eventos en los próximos meses. No soy tan pro, pero nadie ha propuesto hablar de esto. :( Si necesitan alguna charla por ahí, podría ser otra vez a lo Zordon. :D

[2019-08-19 23:41] #49 closed, assigned to leosuncin

[2019-08-19 23:42] #48 closed, assigned to masmerino13

[2019-08-30 15:57] mariomenjr opened #52 "Enough REST, think GraphQL!"
**Título:**
Enough REST, think GraphQL!

**Descripción:**
Una breve Introducción a la tecnología, comparativa práctica con REST, los términos y conceptos más importantes.

**Ponente:**
Mario Menjívar Sermeño (@mariomenjr)

**Email (si no está en el perfil de github):**

**Tipo:**
Corta duración (25 minutos)

[2019-09-14 04:11] cesaramirez commented on #40
Hola @xdiegom hemos visto interesante tu charla, estas interesado en ser ponente par el próximo evento del 28 de septiembre?

[2019-09-14 06:09] xdiegom commented on #40
Hola @cesaramirez. Si, me apunto 🤘

[2019-09-18 04:15] Juanhernandez1 commented on #47
Electron + React buena combinación

[2019-09-18 04:23] Juanhernandez1 commented on #47
no se si lo as incluido en el proyecto que tiene la compilación por medio de electron-builder, como el uso de react-router-dom para abrí ventanas modales 😅 espero no molestar solo te doy mi opinión

[2019-09-18 04:27] guillegr123 commented on #47
Para nada @Juanhernandez1 no es molestia. Si uso electron-builder. Lo de react-router-dom para modales no lo habia considerado. ¿Has visto algún ejemplo de ello?

[2019-09-18 04:42] Juanhernandez1 commented on #47
si de hecho yo igual cree mi propio esqueleto de electron + react  para esto y he estado trabajando en un proyecto propio con permite me busco como compartirte una imágenes aca para que las veas

principa; mente usa lo que es el método IPCMain (mostrar y ocultar la ventana prácticamente) y IPCRender ( para llamar las funcione que muestran y ocultan las ventanas desde react)  y BrowserWindow (para

[2019-09-18 04:49] Juanhernandez1 commented on #47
de esta forma se ve corriendo mi peque proyecto, esa de la ventana [https://github.com/Juanhernandez1/imagenes/blob/master/Screenshot_20190917_224730.png](url)
estoy corriendo en linux

[2019-09-18 04:54] guillegr123 commented on #47
Hey, se ve bien chivo :open_mouth: muy interesante lo de la modal, voy a hacer una prueba con eso y el router.

[2019-09-18 04:56] Juanhernandez1 commented on #47
permite subo unas capturas del codigo no esta muy pulido se ve un solo relajo ya que soy muevo y tengo la mala practica de no comentar el codigo

[2019-09-18 05:07] Juanhernandez1 commented on #47
puede verlas imágenes de parte del código en el mismo link espero te sirvan

[2019-09-25 16:41] heberlopezz commented on #43
Yo puedo dar una charla sobre esto

[2019-09-26 04:18] cesaramirez commented on #43
Que ondas @heberlopezz te animas para el próximo evento?

[2019-09-26 18:14] heberlopezz commented on #43
Cuando es el proximo? en noviembre o tienen una fecha en particular? en noviembre si tengo chance

[2019-09-27 01:49] cesaramirez commented on #43
Es la ultima semana de noviembre.

[2019-09-27 18:05] heberlopezz commented on #43
Si es para esa fecha si podria :+1:

[2019-10-07 04:49] #40 closed, assigned to xdiegom

[2019-10-07 05:03] ricardoerl commented on #10
Hola @GaryTowers, estamos revisando nuevamente las charlas y queremos ver si ¿todavía te animas a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:04] ricardoerl commented on #23
Hola @alepaz, estamos revisando nuevamente las charlas y queremos ver si ¿todavía te animas a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:05] ricardoerl commented on #24
Hola @ricardoorellana, @dobliu estamos revisando nuevamente las charlas y queremos ver si ¿alguno todavía se animas a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:08] ricardoerl commented on #25
Hola @DevAlex7, ¿algún tema en especifico que te interese sobre MongoDB? Anteriormente tocamos la introducción pero creo que hay oportunidad de extender el tema.

[2019-10-07 05:09] ricardoerl commented on #26
Hola @ragar90 , estamos revisando nuevamente las charlas y queremos ver si ¿todavía te animas a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:10] ricardoerl commented on #29
Hola @hugogilmar, @Anb98 estamos revisando nuevamente las charlas y queremos ver si ¿todavía alguno se anima a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:11] ricardoerl commented on #30
Hola @jrab66, gracias por la paciencia, estamos revisando nuevamente las charlas y queremos ver si ¿todavía te animas a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:11] ricardoerl commented on #31
Hola @diedu89, estamos revisando nuevamente las charlas y queremos ver si ¿todavía te animas a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:12] ricardoerl commented on #33
Hola @D3Portillo, estamos revisando nuevamente las charlas y queremos ver si ¿todavía te animas a dar está charla?. Estamos pensando en noviembre 2019.

[2019-10-07 05:31] Anb98 commented on #29
Claro! cuál sería el proceso a seguir?

[2019-10-07 05:43] Juanhernandez1 commented on #50
esta si me inserta

[2019-10-07 17:07] D3Portillo commented on #33
# No problema, demole :raised_hands: !

[2019-10-08 14:55] jrab66 commented on #30
Si Demole :v: @ricardoerl

[2019-10-09 04:30] ricardoorellana commented on #24
Hola @ricardoerl!, no tengo conocimientos en ello aún y me encuentro fuera del país... Pero voy a revisar la documentación y ver que tan complejo está, te notificaré pronto, saludos!

[2019-10-11 03:22] aledevme commented on #25
mmmm, me quedo con "Introducción a Laravel
"

[2019-10-16 13:51] alepaz commented on #23
Claro @ricardoerl sería un honor participar, ¿no hay problema si la presentación fuera remota?

[2019-10-19 23:03] ricardoorellana commented on #24
Hola @ricardoerl, no alcanzo a salir con unos pendientes y al ser un tema que no domino no me animo :'(. Si no hay nadie más, podría dedicarle tiempo a prepararlo pero después de noviembre.

[2019-11-04 23:21] ricardoerl commented on #41
@dieguito151 hagamosla otra vez a lo Zordon 🙌 ¿Por donde podriamos enforcar la charla?  ¿Plugins que no deben faltar? ¿Debugging con VSC?

[2019-11-04 23:40] barbunzel commented on #41
Mmm, yo pensaba más así como shortcuts que tiene VSCode y más cosas que podés hacer. Pero tal vez se puede hacer algo más específico.

[2019-12-02 15:25] leosuncin commented on #52
Solo resalto que este tema ya se dio en una edición anterior de HorchataJS https://github.com/horchatajs/charlas/issues/9#issuecomment-375079215

Para tratar de hablar sobre otras cosas que nos se dieron o llevarla a un nivel más avanzado que una introducción.

[2019-12-02 21:28] geabenitez opened #53 "Javascript under the hood: Engine and Runtime"
**Título:**
Javascript under the hood: Engine and Runtime

**Descripción:**
Me gustaría poder hacer una serie de charlas de conceptos avanzados sobre JS que permita un mejor entendimiento del lenguaje lo que resultará en mejor programación
En esta charla se podria incluir lo siguiente:
- JS Engine
- JS Runtime
- Interpreters
- Compilers
- Profilers
- Call Stack
- Memory Heap
- Stack Overflow
- Gar

[2019-12-09 17:51] ricardoerl commented on #52
@mariomenjr como lo menciona @leosuncin, ya anteriormente abordamos una intro a GraphQL pero creo que todavía hay oportunidad de complementar el tema, ¿que te parece si se tocan buenas prácticas, optimizaciones o algun caso de uso más especifico?

[2019-12-09 17:55] KevLehman opened #54 "Create a Messenger Bot with Google's DialogFlow & Golang"
**Título:** Create a Messenger Bot with Google's DialogFlow & Golang

**Descripción:**
1. Mostrar el uso de Dialogflow para crear bots con la capacidad de dar y recibir input del usuario
2. Como agregar inteligencia de negocios a tu Bot con Golang

**Ponente:** Yo puedo darla

**Email (si no está en el perfil de github):** kaleman960@gmail.com

**Tipo:** corta duración (30 minutos)

[2019-12-10 07:01] mariomenjr commented on #52
@leosuncin ¡hey! gracias por el heads-up. Seguramente pasé por alto ese item en el historial.

Claro, me daré un tiempo esta semana para ver exactamente qué podría presentar (probablemente siguiendo algo cómo lo que mencionas, "buenas prácticas" y demás), @ricardoerl. Ahí verán este issue actualizado.

[2019-12-10 07:03] mariomenjr commented on #53
¡Buenísimo tema!

[2019-12-30 21:42] rafael1789 opened #55 "The witchcraft behind js asynchronicity: A journey through callbacks, promises and async/await."
**Título:** The witchcraft behind js asynchronicity: A journey through callbacks, promises and async/await.

**Descripción:** ¿Cómo funciona la asincronicidad en un lenguaje single-threaded como JavaScript? Una breve explicación de la naturaleza sincrona de JavaScript y, posteriormente, una explicación del "behind the scenes" de los mecanismos que permiten la asincronicidad (callbacks, promises an

[2019-12-31 20:47] Avalojandro opened #56 "Animando un sitio web con Catto-CSS"
**💻Título:** Animando un sitio web con Catto-CSS

**💻Descripción:** Catto-CSS es una librería que he estado desarrollando como proyecto personal cuya funcionalidad es la incorporación de animaciones CSS de manera sencilla y rápida en cualquier sitio web.

Su núcleo está desarrollado con **CSS**  para animaciones comunes y **Javascript** para animaciones activadas por scroll.

 **Contenido de la ch

[2020-01-06 02:39] williamcruzme opened #57 "Real-time made simple"
**Título:**
Real-time made simple

**Descripción:**
Una charla no solo orientado a Socket.io sino al uso de tecnologías real-time.

- Cómo lo hacen los gigantes de la tecnología y por qué debes hacerlo tú también
- Cómo usar Socket.io **(Breve)**
- Características ocultas de Socket.io
- Creando un _Highly Available_ chat **(Con demostración de pruebas de estrés)**

**Ponente:**
@williamcruzme

**T

[2020-01-08 06:07] mariomenjr commented on #52
Me enfocaré en otro tema. Uno que tuve la oportunidad de hablar recientemente 😁

Ya revisé, y no, no hay ninguna entrada 😅

![image](https://user-images.githubusercontent.com/1946936/71954377-fba6ee80-3199-11ea-9450-db4ae11292d4.png)

[2020-01-08 06:07] #52 closed, assigned to mariomenjr

[2020-01-08 06:26] mariomenjr opened #58 "Web Scraping con JS: Un gran poder, una gran responsabilidad"
**Título:**
Web Scraping con JS: Un gran poder, una gran responsabilidad

**Descripción:**
- ¿Qué es Web Scraping?
- ¿Por qué haría Web Scraping a un sitio?
- ¿Puedo meterme en problemas?
- Herramientas más comunes: CheerioJS & ArtooJS
- Ejemplo práctico

**Ponente:**
Mario Menjívar Sermeño [@mariomenjr](https://github.com/mariomenjr)

**Email (si no está en el perfil de github):**

**Tipo:**
Larg

[2020-02-20 23:32] geabenitez commented on #53
Hey people, que tal? alguna idea de si se tomaria en cuenta ese tema y de ser asi cuando mas o menos?

Asi para preparar algo muy informativo.

[2020-02-23 05:32] cesaramirez commented on #53
Hola @geabenitez, es muy probable que para la próxima versión de HorchataJS en Abril, seas tomado en cuenta, por este medio estaremos confirmando

[2020-03-03 17:34] racsoraul commented on #35
Hola.

¿Aún disponible? Yo podría dar esta charla.

[2020-03-03 18:05] alepaz opened #59 "Xstate vs Redux"
**Título: Xstate vs Redux**

**Descripción:** Diferencias de utilizar una maquina de estados finitos como contenedor de estados a la arquitectura unidireccional de Redux

**Ponente:** @alepazte and @jonathanpalma

**Email: alepazte@hotmail.com and tanpalma04@gmail.com**

**Tipo:** corta duración (25 minutos)

[2020-03-17 04:48] ricardoerl commented on #35
Hola @racsoraul, perfecto te dejamos anotado para este tema. Nos esperamos comunicar por correo para ir viendo la agenda del próximo evento

[2020-03-27 04:30] #29 closed, assigned to nobody

[2020-03-27 04:31] #25 closed, assigned to nobody

[2020-03-27 04:36] #23 closed, assigned to alepaz

[2020-05-26 03:34] Avalojandro opened #60 "Javascript videgames without canvas"
**Título:** Javascript videgames without canvas

**Descripción:**  creando un juego en HTML, CSS y Javascript puro sin utilizar librerías, y sin utilizar la etiqueta CANVAS

**Ponente:** Alejandro Avalos (yo)

**Email (si no está en el perfil de github):** avalojandro@gmail.com

**Tipo:** lightning talk (15 minutos) | corta duración (25 minutos) | larga duración (40 minutos)
corta duración

[2020-08-12 17:44] lucas-aragno commented on #24
Yo estoy para esta si necesitan

[2020-08-12 17:56] ricardoerl commented on #24
@lucas-aragno excelente Lucas :raised_hands: ¿siempre con la descripción que propone Ricardo o tendría otro enfoque?

[2020-08-12 17:59] lucas-aragno commented on #24
Si, sino puede ser enfocada mas a ML en js en general pero como esta me parece bien. El time slot es de 20 min el maximo?

[2020-08-12 18:20] ricardoerl commented on #24
Máximo 45 minutos, tenemos más info [aquí](https://github.com/horchatajs/charlas). Si te parece, te envío más detalles al correo, para dar seguimiento.

[2020-08-12 18:33] lucas-aragno commented on #24
Perfecto.

[2020-10-01 17:28] luisquezada-net commented on #41
Hola @ricardoerl y @luisdiegohernandez - les presento a Mauricio Reyes @reyesmarq quien esta interesado en presentar este tema. Avisennos como podemos hacer o cuales son los next steps. Gracias!

[2020-10-01 19:24] barbunzel commented on #41
@luisquezada-net @reyesmarq hey, ¡qué cool! Yo pensaba darla el 24 de octubre porque nadie más estaba disponible, pero con gusto podés agarrar mi espacio. Estoy seguro que vos vas a poder presentar cosas más interesantes de las que yo podría presentar, y así también me da oportunidad de pensar en otro tema. :)

[2020-10-01 20:44] reyesmarq commented on #41
Hola un gusto. Gracias por la oportunidad, espero poder compartir cosas que beneficien a todos.

[2020-10-02 05:58] ricardoerl commented on #41
Un gusto @reyesmarq, muchas gracias por el interes en apoyar. Entiendo @luisdiegohernandez que le cederias el espacio del 24 de octubre a Mauricio? En ese caso solo necesitaria la confirmacion de disponibilidad de Mauricio y su correo para poder enviarle mas detalles.

Muchas gracias @luisquezada-net por la presentación.

[2020-10-02 06:30] barbunzel commented on #41
Sí, claro, si @reyesmarq tiene tiempo ese día, por mí está bien. Podemos encontrar otro espacio para otro tema. O si no puede ese día, siempre puedo ocupara ese espacio. Me avisás cualquier cosa @ricardoerl. :)

[2020-10-02 16:33] reyesmarq commented on #41
@luisdiegohernandez Ese dia me parece bien 24 Octubre, no hay problema. Solo confirmame la hora y con gusto.

[2020-10-02 16:36] reyesmarq commented on #41
@luisdiegohernandez mi correo es reyes.marq@gmail.com para detalles o algun otro recurso que te gustaria nos coordinaramos.

[2021-03-05 18:49] fhereduardo90 opened #61 "Clean Architecture with NodeJS"
**Título:**
Clean Architecture with NodeJS
**Descripción:**
Explicacion de [clean architecture](https://blog.cleancoder.com/uncle-bob/2012/08/13/the-clean-architecture.html) y un walkthrough sobre su implementacion con nodejs,  aqui dejo el repositorio del proyecto a mostrar https://github.com/fhereduardo90/nodejs-clean-architecture
**Ponente:**
Fernando Juarez
**Email (si no está en el perfil de